.welcomeText {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    margin-top: 22%;
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto", sans-serif !important;
}

.selectlocation {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    margin-top: 1%;
    font-weight: bold;
    font-family: "Roboto", sans-serif !important;
}

.footer {
    background-color: #000000;
    height: 45px;
    padding-top: 3px;
    padding-left: 54px;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
